{{! This is the post loop - each post will be output using this markup }}
{{!-- <div class="site-main -inner"> --}}
  {{!-- <ul class="postIndex {{#unless @blog.image}}page-no-image{{/unless}}"> --}}
  <ul class="post-index / page-no-image">
    {{#foreach posts}}
    <li class="post-index-li">
      <article class="{{post_class}} ">
        {{!-- section --}}
        <header  class="post-snippet-header">
          <div   class="post-snippet-header-wrap">
            <div class="post-snippet-meta">
              {{#if featured}}
              {{#if author.image}}<img class="post-snippet-author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
              {{/if}}
              <time class="page-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="Do MMMM YYYY"}}</time>
              {{!-- <span class="page-descriptive">by</span> --}}
              {{!-- <a    class="page-author" href="/author/{{author.slug}}" rel="author">{{author.name }}</a> --}}
              {{!-- <span class="page-tags">{{tags prefix=" on "}}</span> --}}
            </div>
            <h1><a href="{{url}}">{{{title}}}</a></h1>
          </div>
        </header>
        {{!-- section --}}
        {{#if featured}}
        {{#if image}}
        {{!-- <div class="post-image" style="background-image: url({{image}})"></div> --}}
        {{/if}}
        {{/if}}
        {{!-- section --}}
        <section class="post-excerpt post-snippet-wrap">
          <p>{{excerpt words="31"}}&hellip;</p>
          <a class="post-cta" href="{{url}}">Read More &raquo;</a>
        </section>
      </article>
    {{/foreach}}
  </ul>
{{!-- </div> --}}

{{! Previous/next page links - displayed on every page }}
<div class="page-pagination inner">
  {{pagination}}
</div>