{{! This is the post loop - each post will be output using this markup }}
{{!-- <div class="site-main -inner"> --}}
  <ul class="postIndex">
    {{#foreach posts}}
    <li class="postIndex-li">
      <article class="{{post_class}} ">
        {{!-- section --}}
        <header class="post-header post-wrap">
          <div class="post-meta">
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            <span class="post-author">Written by {{author }}</span>
            <span class="post-tags">{{tags prefix=" on "}}</span>
            {{#if featured}}
            {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
            {{/if}}
          </div>
          <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
        {{!-- section --}}
        {{#if featured}}
        <div style="width: 100%; height: 50px; overflow: hidden; background: pink">
          {{!-- <img src="{{image}}"> --}}
          <div class="post-image" style="background-image: url('{{image}}')"></div>
        </div>
        {{/if}}
        {{!-- section --}}
        <section class="post-excerpt post-wrap">
          <p>{{excerpt characters="300"}}&hellip;</p>
          <a class="post-cta" href="{{url}}">Read More &raquo;</a>
        </section>
      </article>
    {{/foreach}}
  </ul>
{{!-- </div> --}}

{{! Previous/next page links - displayed on every page }}
<div class="page-pagination inner">
  {{pagination}}
</div>