<!DOCTYPE html>
<html>
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{! Styles'n'Scripts }}
  {{!-- <link rel='stylesheet' type='text/css' href='{{asset 'css/screen.css'}}' /> --}}
  <link rel='stylesheet' type='text/css' href='{{asset 'fonts/font-awesome-4.4.0/css/font-awesome.min.css'}}' />
  <link rel='stylesheet' type='text/css' href='{{asset 'js/highlightjs/styles/default.css'}}' >
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' />
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Playfair+Display:400' />


  <link rel='stylesheet/less' type='text/css' href='{{asset 'css/screen.less'}}' />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js" ></script>
  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed animate-fadeIn">


  {{!-- <div class="site-clickShield"></div> --}}

  <div class="site-page"></div>
  {{navigation}}

  <div class="site-wrapper">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix">
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; developed with &hearts; by <a href="http://theme.place">themeplace</a> </section>
    </footer>

  </div>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="{{asset "js/jquery-2.1.4.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/highlightjs/highlight.pack.js"}}"></script>
  {{! The main JavaScript file for essentials }}
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
