{{!< default}}
{{#post}}

<main class="content" role="main">
  <article class="{{post_class}}">

    <header  class="page-header">
      <div   class="page-header-inner">
        <div   class="page-header-wrap">
          {{!-- <div class="page-meta">
            <time class="page-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            <span class="page-descriptive">Written by</span>
            <a    class="page-author" href="/author/{{author.slug}}" rel="author">{{author.name}}</a>
            <span class="page-tags">{{tags prefix=" on "}}</span>
          </div> --}}
          <h1>{{{title}}}</h1>
        </div>
      </div>
    </header>

    {{#if image}}
    <div class="post-image" style="background-image: url({{image}})"></div>
    {{else}}
    <div class="ui-divider"></div>
    {{/if}}

    <section class="post-content">
      <div class="post-content-wrap">
        {{content}}
      </div>
    </section>

    <footer class="post-footer">

      <section class="post-share">
        {{!-- <h4>Share this post</h4> --}}
        <a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
          onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <span class="hidden">Twitter</span>
        </a>
        <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
          onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <span class="hidden">Facebook</span>
        </a>
        <a class="fa fa-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
          <span class="hidden">Google+</span>
        </a>
      </section>

    </footer>

  </article>
</main>

{{/post}}